body {
  background: url("../images/terranSplash.jpg");
  background-size: cover;
}

#dropship {
  background: url("../images/anim_dropship_talk.gif");
  background-size: cover;
}

#marine {
  background: url("../images/anim_marine_idle.gif");
  background-size: cover;
}

#scienceVessel {
  background: url("../images/anim_science_vessel_talk.gif");
  background-size: cover;
}

#tank {
  background: url("../images/anim_tank_talk.gif");
  background-size: cover;
}

#wraith {
  background: url("../images/anim_wraith_talk.gif");
  background-size: cover;
}

#battlecruiser {
  background: url("../images/anim_battlecruiser_talk.gif");
  background-size: cover;
}

.button {
  width: 80px;
  height: 80px;
  margin: 0px 50px 0px 20px;
  display: inline-block;
  border-radius: 6px;
}

.button:hover { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    width: 85px;
    height: 85px;
}

.row1 {
  margin: 100px 50px 50px 50px;
}

.row2 {
  margin: 50px;
}